# DataFrame

In [ ]:
Vamos a crear DataFrame con el modulo pandas

In [1]:
# importamos
import pandas as pd

In [ ]:
# vamos a recuperar datos de wikipedia

In [2]:
# importamos el modulo 
import webbrowser

# la ruta del sitio web
ruta = 'https://es.wikipedia.org/wiki/Anexo:Campeones_de_la_NBA'

# del modulo webbrowser y el metodo open, abrimos la pagina web
webbrowser.open(ruta)

True

In [9]:
# copiamos "ctrl + c" de la pagina web
#con el metodo clipboard

data_frame_nba = pd.read_clipboard()
data_frame_nba

     Año        Campeón del Oeste Resultado        Campeón del Este    Ref.
0   1950  Minneapolis Lakersn. 2​       4–2     Syracuse Nationals†  19​18​
1   1951         Rochester Royals       4–3         New York Knicks     20​
2   1952       Minneapolis Lakers       4–3         New York Knicks     21​
3   1953      Minneapolis Lakers†       4–1         New York Knicks     22​
4   1954      Minneapolis Lakers†       4–3      Syracuse Nationals     23​
5   1955        Ft. Wayne Pistons       3–4     Syracuse Nationals†     24​
6   1956        Ft. Wayne Pistons       1–4  Philadelphia Warriors†     25​
7   1957          St. Louis Hawks       3–4         Boston Celtics†     26​
8   1958          St. Louis Hawks       4–2         Boston Celtics†     27​
9   1959       Minneapolis Lakers       0–4         Boston Celtics†     28​
10  1960          St. Louis Hawks       3–4         Boston Celtics†     29​

In [ ]:
# tenemos que selecionar bien

In [10]:
# Ahora vemos las columnas que tiene
data_frame_nba.columns

Index(['Año', 'Campeón del Oeste', 'Resultado', 'Campeón del Este', 'Ref.'], dtype='object')

In [11]:
# Seleccionamos los datos de la columna Campeón del oeste
data_frame_nba['Campeón del Oeste']

0     Minneapolis Lakersn. 2​
1            Rochester Royals
2          Minneapolis Lakers
3         Minneapolis Lakers†
4         Minneapolis Lakers†
5           Ft. Wayne Pistons
6           Ft. Wayne Pistons
7             St. Louis Hawks
8             St. Louis Hawks
9          Minneapolis Lakers
10            St. Louis Hawks
Name: Campeón del Oeste, dtype: object

In [16]:
# Seleccionamos por indice (fila)
data_frame_nba.loc[5]

Año                                 1955
Campeón del Oeste      Ft. Wayne Pistons
Resultado                            3–4
Campeón del Este     Syracuse Nationals†
Ref.                                 24​
Name: 5, dtype: object

In [18]:
# ver los primeros elementos, por defecto selecciona 5
data_frame_nba.head()

    Año        Campeón del Oeste Resultado     Campeón del Este    Ref.
0  1950  Minneapolis Lakersn. 2​       4–2  Syracuse Nationals†  19​18​
1  1951         Rochester Royals       4–3      New York Knicks     20​
2  1952       Minneapolis Lakers       4–3      New York Knicks     21​
3  1953      Minneapolis Lakers†       4–1      New York Knicks     22​
4  1954      Minneapolis Lakers†       4–3   Syracuse Nationals     23​

In [19]:
# ver los 3 primeros elementos, agregamos 3 dentro de los parentesis
data_frame_nba.head(3)

    Año        Campeón del Oeste Resultado     Campeón del Este    Ref.
0  1950  Minneapolis Lakersn. 2​       4–2  Syracuse Nationals†  19​18​
1  1951         Rochester Royals       4–3      New York Knicks     20​
2  1952       Minneapolis Lakers       4–3      New York Knicks     21​

In [20]:
# ver los ultimos, por defecto 5
data_frame_nba.tail()

     Año   Campeón del Oeste Resultado        Campeón del Este Ref.
6   1956   Ft. Wayne Pistons       1–4  Philadelphia Warriors†  25​
7   1957     St. Louis Hawks       3–4         Boston Celtics†  26​
8   1958     St. Louis Hawks       4–2         Boston Celtics†  27​
9   1959  Minneapolis Lakers       0–4         Boston Celtics†  28​
10  1960     St. Louis Hawks       3–4         Boston Celtics†  29​

In [21]:
# ver los ultimos
data_frame_nba.tail(2)

     Año   Campeón del Oeste Resultado Campeón del Este Ref.
9   1959  Minneapolis Lakers       0–4  Boston Celtics†  28​
10  1960     St. Louis Hawks       3–4  Boston Celtics†  29​

In [1]:
### hacer dataframe con datos de un diccionario

In [24]:
# hacemos un dicionario por listas
lista_asignaturas = ['matematicas', 'historia', 'fisica']
notas = [8,7,9]
diccionario = {'asignaturas':lista_asignaturas, 'notas':notas}
diccionario

{'asignaturas': ['matematicas', 'historia', 'fisica'], 'notas': [8, 7, 9]}

In [28]:
#creamos el dataframe a partir de un diccionario
df_notas = pd.DataFrame(diccionario)
df_notas

   asignaturas  notas
0  matematicas      8
1     historia      7
2       fisica      9