# Seleccionar datos en DataFrame

In [ ]:
Ahora, veremos Formas de acceder a los elementos de un DataFrame

In [1]:
import pandas as pd
import numpy as np

In [2]:
# crear dataFrame con lista de valores, ind, col
lis_valores = np.arange(25).reshape(5,5)
lis_valores

array([[ 0,  1,  2,  3,  4],
       [ 5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14],
       [15, 16, 17, 18, 19],
       [20, 21, 22, 23, 24]])

In [3]:
lis_indices = ['i1', 'i2', 'i3', 'i4', 'i5']
lis_indices

['i1', 'i2', 'i3', 'i4', 'i5']

In [4]:
lis_columnas = ['c1', 'c2', 'c3', 'c4', 'c5']
lis_columnas

['c1', 'c2', 'c3', 'c4', 'c5']

In [8]:
# creamos el DF
dataF1 = pd.DataFrame(lis_valores, index=lis_indices, columns=lis_columnas)
dataF1

    c1  c2  c3  c4  c5
i1   0   1   2   3   4
i2   5   6   7   8   9
i3  10  11  12  13  14
i4  15  16  17  18  19
i5  20  21  22  23  24

In [11]:
# accedemos 
# ala columna 2
dataF1['c2']

i1     1
i2     6
i3    11
i4    16
i5    21
Name: c2, dtype: int32

In [13]:
# si quiero acceder al 6, (fila i2, columna c2)
dataF1['c2']['i2']

6

In [18]:
#seleccionar varias columnas
dataF1[['c3','c4']]

    c3  c4
i1   2   3
i2   7   8
i3  12  13
i4  17  18
i5  22  23

In [28]:
# por rangos
dataF1[['c2','c3', 'c4']]

    c2  c3  c4
i1   1   2   3
i2   6   7   8
i3  11  12  13
i4  16  17  18
i5  21  22  23

In [30]:
# seleccionamos las filas en los qe la columna c2 q sean > 15

dataF1[dataF1['c2'] > 15]

    c1  c2  c3  c4  c5
i4  15  16  17  18  19
i5  20  21  22  23  24

In [31]:
# q elementos del dataframe son > 20

dataF1 > 20

       c1     c2     c3     c4     c5
i1  False  False  False  False  False
i2  False  False  False  False  False
i3  False  False  False  False  False
i4  False  False  False  False  False
i5  False   True   True   True   True

In [33]:
# busqueda por indice
dataF1.loc['i3']

c1    10
c2    11
c3    12
c4    13
c5    14
Name: i3, dtype: int32

In [ ]:
# para seleccionar por indice (filas), tenemos q llamar a ".loc".
# para columnas sin loc.

In [34]:
dataF1.loc['i3']['c4']

13