# Seleccionar datos en Series

In [ ]:
Dado una serie, podemos seleccionar sus datos.
Por indices, por numero
Ej.

In [7]:
import pandas as pd
import numpy as np

In [8]:
lista_valores = np.arange(3)
lista_valores

array([0, 1, 2])

In [9]:
lista_indices = ['i1', 'i2', 'i3']
lista_indices

['i1', 'i2', 'i3']

In [22]:
# creamos la serie
serie1 = pd.Series(lista_valores, index = lista_indices)
serie1

i1    0
i2    1
i3    2
dtype: int32

In [23]:
# una serie se puede multiplicar, cada valor por un numero
serie2 = serie1*2
serie2

i1    0
i2    2
i3    4
dtype: int32

In [ ]:
# formas de acceder a los elementos

In [24]:
# acceder al elemento 2 por medio de indice i2
serie2['i2']

2

In [25]:
# acceder por medio de la posicion el valor 2 esta en la posicion 1
serie2[1]

2

In [26]:
# tambien podemos seleccionar entre valores
serie2[0:3]

i1    0
i2    2
i3    4
dtype: int32

In [28]:
# seleccionar con los nombres de los indices
serie2['i1':'i3']

i1    0
i2    2
i3    4
dtype: int32

In [33]:
# seleccionar la primera y tercera fila
serie2[['i1', 'i3']]

i1    0
i3    6
dtype: int32

In [30]:
# seleccionamos por condiciones
serie2[serie2 > 3]

i3    4
dtype: int32

In [31]:
# seleccionamos por condiciones y cambiando valor
serie2[serie2 > 3] = 6

In [32]:
# vemos si cambio valor
serie2
# si cambio

i1    0
i2    2
i3    6
dtype: int32