# Series

In [2]:
import pandas as pd

In [3]:
# crear una serie
serie1 = pd.Series([3,5,7])
serie1
# una serie q esta indexada

0    3
1    5
2    7
dtype: int64

In [5]:
# quiero el numero 5
serie1[1]

5

In [12]:
# crear nosotros los indices
asignaturas = ['Matematicas', 'Historia', 'Fisica', 'Literatura']
notas = [8, 6, 9, 7]
serie_notas_daniel = pd.Series(notas, index = asignaturas)

In [13]:
serie_notas_daniel

Matematicas    8
Historia       6
Fisica         9
Literatura     7
dtype: int64

In [14]:
# quiero la nota de fisica de daniel
serie_notas_daniel['Fisica']

9

In [15]:
# que notas son > de 8
serie_notas_daniel[serie_notas_daniel >= 8]

Matematicas    8
Fisica         9
dtype: int64

In [16]:
# tambien podemos poner un nombre a la serie

serie_notas_daniel.name = 'Notas de Daniel'
serie_notas_daniel

Matematicas    8
Historia       6
Fisica         9
Literatura     7
Name: Notas de Daniel, dtype: int64

In [18]:
# a los indices tambien podemos poder un nombre

serie_notas_daniel.index.name = 'Asignaturas de Daniel'
serie_notas_daniel

Asignaturas de Daniel
Matematicas    8
Historia       6
Fisica         9
Literatura     7
Name: Notas de Daniel, dtype: int64

In [19]:
# podemos convertir una serie en un diccionario
# metodo: to_dict convierte una serie en un diccionario

diccionario = serie_notas_daniel.to_dict()
diccionario

{'Matematicas': 8, 'Historia': 6, 'Fisica': 9, 'Literatura': 7}

In [20]:
# podemos convertir un diccionario a una serie

serieC = pd.Series(diccionario)
serieC

Matematicas    8
Historia       6
Fisica         9
Literatura     7
dtype: int64

In [ ]:
# las series se pueden sumar, dividir

In [21]:
serie_notas_daniel

Asignaturas de Daniel
Matematicas    8
Historia       6
Fisica         9
Literatura     7
Name: Notas de Daniel, dtype: int64

In [22]:
asignaturas = ['Matematicas', 'Historia', 'Fisica', 'Literatura']
notas_ana = [7, 8, 5, 9]
serie_notas_ana = pd.Series(notas_ana, index = asignaturas)

In [24]:
serie_notas_ana

Matematicas    7
Historia       8
Fisica         5
Literatura     9
dtype: int64

In [27]:
# la suma de notas de las clases
# la nota media de clases

serie_notas_clases = (serie_notas_daniel + serie_notas_ana) /2
serie_notas_clases

Asignaturas de Daniel
Matematicas    7.5
Historia       7.0
Fisica         7.0
Literatura     8.0
dtype: float64